{block content}
<section class="main-content container">

    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h4 n:block="title">Blog</h4>
            </div>
            <div class="col-sm-6 text-right">
                <ol class="breadcrumb">
                    <li><a n:href=":Admin:Default:"><i class="fa fa-home"></i></a></li>
                    <li>Blog</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="text-right">
        <a n:href="edit" class="btn btn-info">Přidat blog</a>
    </div>
    {control blogGrid}
</section>