{block content}
<section class="main-content container">

    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h4 n:block="title">
                    Blog
                    {if $translation}
                        - {$translation->title}
                    {/if}
                </h4>
            </div>
            <div class="col-sm-6 text-right">
                <ol class="breadcrumb">
                    <li><a n:href=":Admin:Default:"><i class="fa fa-home"></i></a></li>
                    <li><a n:href=":Admin:Blog:">Blog</a></li>
                    {if $translation}
                        <li>{$translation->title}</li>
                    {/if}
                </ol>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-pills">
                        <li n:class="$langId == NULL ? active"><a n:href="this, langId => NULL">Informace</a></li>

                        {if $blog}
                            {foreach $languages as $language}
                                {if $language->id === \App\Entities\Language::EN}
                                    <li n:class="$language->id == $langId ? active"><a n:href="this, langId => $language->id">{$language->code}</a></li>
                                {/if}
                            {/foreach}
                        {/if}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {if $langId == NULL}
                        {control blogForm}

                        {if !empty($blog)}

                            <div class="row" n:if="$blog->photo">
                                <div class="col-sm-12">
                                    <h3>Hlavní fotografie</h3>
                                </div>
                                <div class="col-md-2">
                                    <a href="{$basePath}/{$blog->photo}" target="_blank"><img src="{$basePath}/{$blog->photo}" class="img-responsive"></a>
                                    <a n:href="deleteMainPhoto! $blog->id" class="btn btn-danger btn-sm btn-block" data-confirm="Opravdu smazat?"><i class="fa fa-trash"></i></a>
                                </div>
                                <div class="clearfix"></div>
                                <br>
                            </div>
                            <div class="row" n:if="$blog->photos">
                                <div class="col-sm-12">
                                    <h3>Ostatní fotografie</h3>
                                </div>
                                {foreach $blog->photos as $photo}
                                    <div class="col-md-2">
                                        <a href="{$basePath}/{$photo->path}" target="_blank"><img src="{$basePath}/{$photo->path}" class="img-responsive"></a>
                                        <a n:href="deletePhoto! $photo->id" class="btn btn-danger btn-sm btn-block" data-confirm="Opravdu smazat?"><i class="fa fa-trash"></i></a>
                                    </div>

                                    {if $iterator->counter % 5 === 0}
                                        <div class="clearfix"></div>
                                    {/if}
                                {/foreach}
                            </div>

                        {/if}
                    {else}
                        {control blogTranslationForm}
                    {/if}
                </div>
            </div>
        </div>
    </div>
</section>

{if 0}
<script type="text/javascript">
    {/if}
    {define #js}

    {/define}
    {if 0}
</script>
{/if}