{snippetArea form}
    <form n:name="form" role="form" class="form-horizontal">
        {foreach $form->getErrors() as $error}
            <div class="alert alert-danger hidden">{$error}</div>
        {/foreach}
        <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                    {label type, class => 'col-sm-3 control-label' /}
                    <div class="col-sm-9">
                        {input type, class => 'form-control service-type'}
                    </div>
                </div>
                <div class="form-group">
                    {label author, class => 'col-sm-3 control-label' /}
                    <div class="col-sm-9">
                        {input author, class => 'form-control'}
                    </div>
                </div>
                <div class="form-group">
                    {label created, class => 'col-sm-3 control-label' /}
                    <div class="col-sm-9">
                        {input created, class => 'form-control'}
                    </div>
                </div>

                <div class="form-group">
                    <hr>
                </div>

                <div class="form-group" id="photo">
                    <div class="col-sm-3 text-right">
                        {label photo, class => 'control-label' /}<br>
                        <small>Doporučený rozměr: 1920x600px</small>
                    </div>
                    <div class="col-sm-9">
                        {if !empty($blog)}
                            <img src="{$basePath}/{$blog->getMainPhotoPath()}" class="img-responsive" style="max-height: 150px">
                        {/if}
                        {input photo, class => 'form-control'}
                    </div>
                </div>

                <div class="form-group" id="photos">
                    <div class="col-sm-3 text-right">
                        {label photos, class => 'control-label' /}<br>
                        <small>Doporučený min. rozměr: 900x507px</small>
                    </div>
                    <div class="col-sm-9">
                        {input photos, class => 'form-control'}
                    </div>
                </div>

                <div class="form-group">
                    <hr>
                </div>

                <div class="form-group">
                    {label active:, class => 'col-sm-3 control-label' /}
                    <div class="col-sm-9">
                        {input active:}
                    </div>
                </div>

                <div class="form-group">
                    <hr>
                </div>
            </div>

            <div class="col-lg-8">
                <h4>Odkazy</h4>

                <div class="form-group">
                    <div class="col-sm-12">

                        {foreach $form['links']->getContainers() as $id => $el}
                            <div class="form-group">
                                <div class="col-sm-2">
                                    Odkaz {$id + 1}
                                </div>
                                {label links-$id-type, class => 'col-sm-1 control-label' /}
                                <div class="col-sm-8">
                                    {input links-$id-type, class => 'form-control'}
                                </div>
                            </div>
                            <div class="form-group">
                                {label links-$id-link, class => 'col-sm-3 control-label' /}
                                <div class="col-sm-8">
                                    {input links-$id-link, class => 'form-control'}
                                </div>
                                <div class="col-sm-1">
                                    {input links-$id-remove, class => 'btn btn-danger pull-right'}
                                </div>
                            </div>
                        {/foreach}
                    </div>
                </div>

                {input links-add, class => 'btn btn-info pull-right'}
            </div>

            <div class="clearfix"></div>

            <div class="form-group">
                <hr>
            </div>

        </div>

        <div class="col-sm-12">
            {input send, class => 'btn btn-info pull-right'}
        </div>
    </form>
{/snippetArea}
