{define title}
    Blog
{/define}
{define #pageClass}page{/define}

{block content}
<main style="min-height: 100vh;">

    {if $search}

        <div class="main-blog search">
            <h2>{_'app.front.blog.default.search'} "{$search}"</h2>
        </div>

    {else}

        <div n:if="!$mainPost" class="main-blog" style="height: unset">
            <h2>{_'app.front.blog.default.noMainPost'}</h2>
        </div>

        <div n:if="$mainPost" style="background-image: url({$basePath}/{$mainPost->getMainPhotoPath()});" class="main-blog">
            {var $translationMain = $mainPost->getTranslation($language->id)}
            <div>
                <div>{_$mainPost->getTypeName($mainPost->type)}</div>
                <h2>{$translationMain->title}</h2>
                <div><a n:href="Blog:detail $mainPost->id">Read more</a></div>
            </div>
        </div>

    {/if}

    <div class="offers blog" n:snippet="snippet">

        {foreach $blogPosts as $blog}
            {var $translation = $blog->getTranslation($language->id)}
            <a n:href="Blog:detail, $blog->id" class="item-detail" n:if="(!$iterator->first && !$search) || $search">
                <article>
                    <div>
                        <p class="blog-type" style="background: #{$blog->getTypeColor($blog->type)};">{_$blog->getTypeName($blog->type)}</p>
                        <h2>{$translation->title|truncate:40}</h2>

                        {foreach $translation->pars as $par}

                            <p n:if="$iterator->first" class="blog-prev">{$par->description|removeTags|truncate:120}</p>

                        {/foreach}

                        <p>{$blog->created->format("d.m.Y")}</p>
                    </div>
                    <figure>
                        <img alt="{$translation->title}" data-src="{$basePath}/{$blog->getMainPhotoPath()}">
                    </figure>
                </article>
            </a>
        {/foreach}

        {if empty($blogPosts)}
            <p>{_'app.front.blog.default.noBlogPost'}</p>
        {elseif ($limit && count($allBlogPosts) > $limit) && !$search}
            <p class="more"><a n:href="this, limit => all" class="ajax" title="{_'app.front.blog.default.morePost'}">{_'app.front.blog.default.morePost'}</a></p>
        {/if}

    </div>

</main>