{define #title}{$translation->metaTitle ?: $translation->title}{/define}
{define #description}{$translation->metaDescription}{/define}
{define #keywords}{$translation->metaKeywords}{/define}

{define #pageClass}page{/define}

{block content}
<main>

    <div class="blog-detail">

        <div class="default-line"></div>
        <div class="read-line"></div>

        <div>

            <div class="blog-content bootstrap">
                <p>
                    <a n:href="Blog:">{_'app.front.blog.detail.blog'}</a>
                    /
                    <a n:href="Blog: filter=> $translator->translate(\App\Entities\Blog::getTypeName($blog->type))">{_$blog->getTypeName($blog->type)}</a>
                </p>
                <h2>{$translation->title}</h2>
                <p>
                    <span style="background: #{$blog->getTypeColor($blog->type)};">{_$blog->getTypeName($blog->type)}</span>
                    <small>{_'app.front.blog.detail.by'} {$blog->author} | {$blog->created->format("d.m.Y")}</small>
                </p>
                <p><img alt="{$translation->title}" data-src="{$basePath}/{$blog->getMainPhotoPath()}"></p>
                <p class="photo-title"><i>{$translation->photoTitle}</i></p>

                {foreach $translation->pars as $par}

                    {var $photoTitle = isset($translation->pars->photoTitle) ? $translation->pars->photoTitle : 'image'}

                    <p>{$par->description|noescape}</p>
                    <p n:if="$par->photo"><img alt="{$photoTitle}" data-src="{$basePath}/{$par->photo->path}"></p>
                    <p class="photo-title" n:if="$par->photoTitle"><i>{$par->photoTitle}</i></p>

                {/foreach}

            </div>

            <div class="fixed-wrapper" n:if="$blog->links[0]">
                    <div class="blog-links" id="fixedForm">
                        <div>{_'app.front.blog.detail.linkSlogan'}</div>
                        <ol class="links">

                            {foreach $blog->links as $link}

                                <a href="{$link->link}" target="_blank" rel="noopener noreferrer">
                                    <li n:class="$link->isRevoLink() ? 'revo-link' : 'affiliate-link' . ' ' . $link->getClassByType()">
                                        <span class="{$link->getClassByType()}"></span>
                                        {_$link->getLinkName($link->type)}
                                    </li>
                                </a>

                            {/foreach}

                        </ol>
                        <div>
                            <div class="social-sites">
                                <div class="facebook"><a href="https://www.facebook.com/Revocars-101718850261297/" title="Facebook" target="_blank" rel="noopener noreferrer"></a></div>
                                <div class="instagram"><a href="https://www.instagram.com/revocars/" title="Instagram" target="_blank" rel="noopener noreferrer"></a></div>
                                <div class="youtube"><a href="https://www.youtube.com/channel/UCOltt0ILFXBgPAqVY95PmNw?view_as=subscriber" title="YouTube" target="_blank" rel="noopener noreferrer"></a></div>
                            </div>
                        </div>
                    </div>
            </div>

        </div>

    </div>

</main>

{if 0}
<script type="text/javascript">
    {/if}
    {define #js}


    (function($) {

        function get() {
            var documentHeight = $(document).height();
            var windowHeight = $(window).height();
            var scroll = $(window).scrollTop();
            var readPercentage = 100 / ((documentHeight - windowHeight) / scroll);

            $('.read-line').css('width', readPercentage + '%');
        }

        $(window).load(function() {
            get();

            $(window).scroll(get);
        });


        var $window = $(window);

        function resize() {
            if ($window.width() >= 1198) {
                $(window).scroll(sticky_relocate);
                sticky_relocate();
            }
        }

        $window
            .resize(resize)
            .trigger('resize');
    })(jQuery);

    function sticky_relocate() {
        var tc = $(document).find('.blog-content').height();
        $(document).find('.fixed-wrapper').css('height', tc);
        $(document).find("#fixedForm").stick_in_parent({
            offset_top: 80,
            parent: ".fixed-wrapper",
            spacer: false,
            recalc_every: 1,
        });
    }

    {/define}
    {if 0}
</script>
{/if}